.headerContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageContainer {
    position: relative;
    margin: 5vw;

    img {
        width: 90vw;
    }

    .backgroundSlant {
        background: linear-gradient((165deg, #fdcd3b 60%, transparent 60%));
        height: calc(120% + 10vw);
        position: absolute;
        top: -5vw;
        left: -5vw;
        width: 100vw;
        z-index: -1;
    }
}

.name {
    color: #fff;
    font-family: 'montserrat';
    font-size: 72px;
    position: absolute;
    top: 10vw;
    right: 10vw;
    text-shadow: 7px 7px #2a2a2a;
}