@import '~@style/_variables.scss';

.headerContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageContainer {
    position: relative;
    margin: 5vw;

    img {
        box-shadow: 3px 3px 5px #2a2a2a;
        width: 90vw;
    }

    .backgroundSlant {
        background: linear-gradient((165deg, #fdcd3b 60%, transparent 60%));
        height: calc(120% + 10vw);
        position: absolute;
        top: -5vw;
        left: -5vw;
        width: 100vw;
        z-index: -1;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        img {
            width: 400px;
        }
    }
}

.name {
    color: #fff;
    font-family: 'montserrat';
    font-size: 36px;
    letter-spacing: 10px; 
    position: absolute;
    top: 8vw;
    right: 10vw;
    text-shadow: 3px 3px 5px #2a2a2a;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 72px;
        text-shadow: 5px 5px 5px #2a2a2a;
        left: calc(10vw + 250px);
        right: 0;
    }
}