@import '~@style/_variables';

.footer {
    background-color: #ff960f;
    color: #2a2a2a;
    display: flex;
    flex-direction: column;
    font-family: 'montserrat';
    letter-spacing: 1.5px;
    overflow: hidden;

    @media screen and (min-width: $breakpoint-tablet) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-height: 500px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: auto;
    padding: 20px;
    place-self: center;
    max-height: 500px;
    max-width: 500px;
    
    .footerTitle {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .contactDetail:not(:first-of-type) {
        margin-top: 8px;
    }

    .contactIcon {
        margin-right: 15px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        .footerTitle {
            font-size: 48px;
        }

        .contactDetail {
            font-size: 24px;
        }

        .contactDetail:not(:first-of-type) {
            margin-top: 15px;
        }
    }
}

.iconContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

    a {
        text-decoration: none;

        .iconLink {
            color: #2a2a2a;
            font-size: 48px;
        }
    }
}

.imageContainer {
    height: 200px;
    
    img {
        margin-left: auto;
        object-fit: cover;
        object-position: 0 -100px;
        width: 100%;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        height: auto;
        max-height: 100%;

        img {
            object-position: top;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        img {
            object-position: 0 -150px;
        }
    }
}

